useDynLib(airops)
exportPattern("^rse_")
exportPattern("^sae_")
#exportPattern("^gme_")
export(check_functions)
#exportPattern("^[[:alpha:]]+")
import(data.table)
import(R.utils)
import(ggplot2)
importFrom(Rcpp, evalCpp)
